[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = git@github.com:wszk1992/wszk1992.github.io.git
	branch = master
